@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  height: 100vh;
}
.body_bg {
  position: relative;
  z-index: 1;
  background: url('https://i.ibb.co/0ZcMzkf/birth-supernova-nebula-ai-generation-created-fantastic-illustration-big-bang-explosion-universe-gene.jpg');

  background-size: cover;
  min-height: 100vh;
  height: 100%;
  background-attachment: fixed;
}
@layer directive {
  .border-golden {
  }
}
@layer components {
  .heading-1 {
    @apply font-bold text-white text-base xl:text-[42px] leading-[1.3] my-6;
  }
  .heading-2 {
    @apply font-bold text-white text-base md:text-[24px] xl:text-[32px] leading-[1.3] my-6;
  }
  .heading-3 {
    @apply font-bold text-[#e2e8f0] text-2xl leading-[32px];
  }
  .paragraph-1 {
    @apply font-[400] text-[#cbd5e1] text-base;
  }
  .link-1 {
    @apply inline-block text-[15px] border border-golden px-6 py-4 rounded-full leading-[1.3] text-white;
  }
}

.dir-3,
.dir-2,
.dir-1 {
  position: relative;
}
.animated > div {
  width: 33.333%;
}

.dir-3 img,
.dir-2 img,
.dir-1 img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.marquee {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 60px;
  display: flex;
  gap: 0px 20px;
  /* transform: rotate(-25deg); */
}
.new {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}
.dir-1 .new {
  top: 0%;
  animation: primary 30s linear infinite;
}
.dir-2 .new {
  top: 30%;
  animation: primary 30s linear infinite reverse;
}
.dir-3 .new {
  top: 0%;
  animation: primary 20s linear infinite;
}

.codeAnimation {
  animation: diagonalMove 10s ease-in-out infinite alternate-reverse;
}

.chatAnim {
  animation: skewMoved 10s ease-in-out infinite alternate-reverse;
}

@keyframes skewMoved {
  0% {
    transform: scale(0.8);
    transform: rotateZ(0deg);
  }
  50% {
    transform: scale(0.9);
    transform: rotateZ(20deg);
  }
  100% {
    transform: scale(0.6);
    transform: rotateZ(10deg);
  }
}

@keyframes diagonalMove {
  25% {
    transform: translateX(20px);
    transform: translateY(20px);
  }
  50% {
    transform: translateX(0px);
    transform: translateY(0px);
  }
  100% {
    transform: translateX(-20px);
    transform: translateY(-20px);
  }
}
@keyframes primary {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.marquee-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.marquee-item {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

.marquee-item img {
  display: block;
  width: 100%;
  height: 100%;
}
