@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-component {
    @apply rounded-md border text-black text-base leading-[1.25] px-2 py-3 w-full;
  }
  .btn-primary {
    @apply bg-green-500 text-white inline-block px-8 py-3 rounded;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

.button_wrapper button {
  outline: 0;
  border: 0;
}
