@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

html,
body,
main {
  height: 100%;
  /* font-family: 'jost'; */
}
body {
  position: relative;
  z-index: 1;
  background: url('https://i.ibb.co/0ZcMzkf/birth-supernova-nebula-ai-generation-created-fantastic-illustration-big-bang-explosion-universe-gene.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  height: auto;
  backdrop-filter: blur(50px);
  background-attachment: fixed;
}
/* body:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #000000b9;
  z-index: -1;
} */
/* .body_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 0;
  background: url('https://i.ibb.co/K9sQ3bp/b.jpg');
  background-size: cover;
  background-position: bottom center;
  height: auto;
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dir-3,
.dir-2,
.dir-1 {
  position: relative;
}
.animated > div {
  width: 33.333%;
}

.dir-3 img,
.dir-2 img,
.dir-1 img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.marquee {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 60px;
  display: flex;
  gap: 0px 20px;
  /* transform: rotate(-25deg); */
}
.new {
  position: absolute;
  left: 0%;
  width: 100%;
  height: 100%;
}
.dir-1 .new {
  top: 0%;
  animation: primary 30s linear infinite;
}
.dir-2 .new {
  top: 30%;
  animation: primary 30s linear infinite reverse;
}
.dir-3 .new {
  top: 0%;
  animation: primary 20s linear infinite;
}

@keyframes primary {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}

.marquee-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.marquee-item {
  width: 100%;
  margin-bottom: 20px;
  height: auto;
}

.marquee-item img {
  display: block;
  width: 100%;
  height: 100%;
}
